body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #000;
  justify-content: space-between;
  color: white;
  display: flex;
  padding: 4px;
  text-align: left;
}

header img.logo {
  width: 100px;
  height: 40px;
  object-fit: contain;
}

.icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.storiesbar {
  background-color: black;
  padding-top: 20px;
  padding-right: 0px;
  display: flex;
  margin-top: 0px;
  overflow-x: auto;
  gap: 15px;
}

.story {
  flex-shrink: 0px;
  text-align: center;
}

.story img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  object-fit: cover;
  border: 2px solid #f00;
}

.story p {
  margin-top: 5px;
  font-size: 12px;
  color: white;
}

.post {
  background-color: black;
  margin-bottom: 20px;
  flex-grow: 1;
  padding-bottom: 30px;
}

.postbar {
  display: flex;
  justify-content: space-between; 
  padding: 10px 16px; 
  border-bottom: 0.5px solid white;
  align-items: center;
}

.post-left {
  display: flex;
  align-items: center;
  gap: 3px;
}

.post-right {
  display: flex;
  align-items: center;
  
}

.profile-post {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid #f00;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  font-size: 20px;
  color: white;
}
.time {
  font-size: 20px; 
  color: white;
  }
.dotmenu {
  width: 30px; 
  height: 30px; 
  object-fit: contain;
  cursor: pointer;
}
footer {
  background-color: #000;
  display: flex;
  color: white;
  text-align: center;
  padding: 4px;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.bottom-icon {
  width: 24px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 15px;
}
.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
  border: 2px solid white;
}

